<!DOCTYPE html>
<html>
  <head>
    <title>SOCCER_MANAGER</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">

    <%= javascript_importmap_tags %>
  </head>

  <!-- O body agora só tem dois filhos: o container da página e os flashes -->
  <body>
    <!-- 1. O contêiner de flashes, para flutuar livremente -->
    <%= render "shared/flashes" %>

    <!-- 2. O contêiner principal que gerencia TODO o layout -->
    <div class="page-container">
      <%= render "shared/navbar" %>
      <div class="container flex-grow-1"> <!-- A classe flex-grow-1 empurra o footer -->
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>